@import 'normalize';

/***************
*	Colors
***************/

$black: #181a1b;
$white: #ffffff;
$lightblue: #09b5df;
$darkgray: #444a4e;
$dark: #202325;


/***************
*	Styles
***************/

body{
	background: $black;
	color: $white;
	font-family: 'Montserrat';
	line-height: 1.4;
}

h1{
	font-size: 3.5rem;
}

h6{
	padding-top: 30px;
	font-size: 1.2rem;
	&:after{
		display: block;
		content: '';
		height: 1px;
		width: 40px;
		background: $lightblue;
		margin-top: 30px;
	}
}

a{
	color: $lightblue;
	text-decoration: none;
	border-bottom: 1px solid $lightblue;
}

.wrapper{
	max-width: 1180px;
	padding: 0 10px;
	margin: 0 auto;
}

.about{
	padding-bottom: 100px;
}

.main-h{
	margin: 100px 0;
}

.part{
	display: inline-block;
	width: 33%;
	box-sizing: border-box;
	padding: 0 20px;
	color: $darkgray;
	vertical-align: top;
	&:first-of-type{
		padding-left: 0;
	}
	&:last-of-type{
		padding-right: 0;
	}
	h1{
		color: $white;
	}
}

.contact{
	background: $dark;
	padding: 100px 0;
}

.headline-area{
	display: inline-block;
	vertical-align: top;
	width: 33%;
}

.contact-area{
	padding-top: 30px;
	display: inline-block;
	vertical-align: top;
	width: 66%;
}
